@using System.Web.Script.Serialization
@using Resources
@model EpamNetProject.PLL.Models.LayoutAreaViewModel
<span>
    Legend <br/>
    left click on area - add seat<br/>
    right click on area - edit area<br/>
</span>
<span class="tooltip"></span>
<button data-id="button-create-area">@Resource.LAYOUT_CREATEAREA</button>
<div id="ISM__MAP" style="position: relative; height: 200px; width: 300px;align-self: center; border: 1px solid beige"></div>

@Scripts.Render("~/bundles/ISM_EDIT")
<script>
    @{
        var js = new JavaScriptSerializer();
        var areasString = js.Serialize(Model.Areas);
        var seatsString = js.Serialize(Model.Seats);
    }
    var areasLocal = JSON.parse('@areasString'.replace(/&quot;/g, '"'));
    var seatsLocal = JSON.parse('@seatsString'.replace(/&quot;/g, '"'));
    generateSim(areasLocal,seatsLocal, '@Url.Action("RemoveMainSeat", "EditArea")', 'AreaId')
</script>
<script>
	function changeAreaFunc(ev) {
		var description = $('.modal__input-areaDescription').val();
		var price = $('.modal__input-areaPrice').val();
		var id = $('.modal__input-areaId-hidden').val();
		var coordX = $('.modal__input-coordX-hidden').val();
		var coordY = $('.modal__input-coordY-hidden').val();
		ev.stopPropagation();
		if(id !== '-1'){
			$.ajax({
				url: '@Url.Action("ChangeMainArea", "EditArea")',
				method: "POST",
				data: {Description: description, Price: price, Id: id, CoordX: coordX, CoordY: coordY}
			}).done(function (data) {
				if (data.Success) {
					$('.modal').hide();
				}
			})
		} else {
			createArea({X:coordX,Y:coordY}, description, price);
		}
	}
	function addSeatFunc(ev) {
		var number = $('.modal-seat__input-number').val();
		var row = $('.modal-seat__input-row').val();
		var id = $('.modal-seat__input-areaId-hidden').val();
		ev.stopPropagation();
		$.ajax({
			url: '@Url.Action("AddMainSeat", "EditArea")',
			method: "POST",
			data: {Number: number, Row: row, AreaId: id}
		}).done(function (data) {
			if (data.Success) {
				$('.modal-seat').hide();
			}
		})
	}
	function createArea(leftCorner,description,price) {
		$.ajax({
			url: '@Url.Action("AddMainArea", "EditArea")',
			method: "POST",
			data: { LeftCorner: leftCorner, Description: description, Price: price, EventId: @Model.LayoutId}
	})
	.done(function (data) {
			if (data.Success) {
				var option = document.createElement('option');
				option.value = data.Area.Id;
				option.innerText = data.Area.Description;
				$('#areaSelected').append($(option));
				$('.modal').hide();
			}
		})
	
	}
	generateEventHandlersEdit({addSeatFunc: addSeatFunc, changeAreaFunc:changeAreaFunc});
</script>