@using Resources
@model IEnumerable<IGrouping<string, EpamNetProject.BLL.Models.PriceSeat>>

<h1>@Resource.PAYMENT_METHOD</h1>
@using (Html.BeginForm("Buy", "Events", FormMethod.Post))
{
    <h3>@Resource.PAYMENT_SEATSTITLE</h3>

    foreach (var group in Model)
    {
        <h4>@group.Key</h4>
        foreach (var seat in group)
        {
            <p class="selectedSeat-item">@seat.AreaName - Row: @seat.Seat.Row Seat: @seat.Seat.Number - @seat.Price$</p>
        }
    }
    var fullPrice = Model.SelectMany(x => x).Sum(x => x.Price);

    <p>@Resource.PAYMENT_FULLPRICETITLE - @fullPrice</p>
    @Html.Hidden("totalAmount", fullPrice)
    <button type="submit" class="button__submit">@Resource.PAYMENT_SUBMIT</button>
}