@using EpamNetProject.PLL.Statics
@using Resources
@model EpamNetProject.PLL.Models.RegisterModel
@Resource.ACCOUNT_REGISTERTITLE

@foreach (var error in ViewBag.Errors)
{
    <h4>@error</h4>
}
@using (Html.BeginForm("Register", "Account"))
{
    @Html.AntiForgeryToken()
    <label>@Resource.ACCOUNT_REGISTER_USERNAME @Html.EditorFor(x => x.UserName)</label>
    <label>@Resource.ACCOUNT_REGISTER_EMAIL @Html.EditorFor(x => x.Email)</label>
    <label>@Resource.ACCOUNT_REGISTER_PASSWORD @Html.EditorFor(x => x.Password)</label>
    <label>@Resource.ACCOUNT_REGISTER_CONFIRMPASSWORD @Html.EditorFor(x => x.ConfirmPassword)</label>
    <label>@Resource.ACCOUNT_REGISTER_FIRSTNAME @Html.EditorFor(x => x.FirstName)</label>
    <label>@Resource.ACCOUNT_REGISTER_SURNAME @Html.EditorFor(x => x.Surname)</label>
    <label>@Resource.ACCOUNT_REGISTER_LANGUAGE @Html.DropDownListFor(x => x.Language, new SelectList(StaticData.Languages, "Code", "Description"))</label>
    <label>@Resource.ACCOUNT_REGISTER_TIMEZONE @Html.DropDownListFor(x => x.TimeZone, new SelectList(TimeZoneInfo.GetSystemTimeZones(), "StandardName", "DisplayName"))</label>
    <button type="submit">@Resource.ACCOUNT_REGISTER_SUBMIT</button>
}