@using Resources
@model EpamNetProject.PLL.Utils.Models.LoginModel

<div class="login__block">
    @Html.ValidationSummary()
    @using (Html.BeginForm("Login", "Account", FormMethod.Post, new {@class = "login__form"}))
    {
        @Html.AntiForgeryToken()
        <div>
            <label>
                <p>@Resource.ACCOUNT_LOGIN_USERNAME</p> @Html.EditorFor(x => x.UserName)
            </label>
            @Html.ValidationMessageFor(x => x.UserName)
        </div>
        <div>
            <label>
                <p>@Resource.ACCOUNT_LOGIN_PASSWORD</p> @Html.EditorFor(x => x.Password)</label>
            @Html.ValidationMessageFor(x => x.Password)
        </div>
        <button type="submit" class="button__submit"> @Resource.ACCOUNT_LOGIN_SUBMITBUTTON</button>
    }
</div>