@using Resources
@model EpamNetProject.PLL.Models.LoginModel

<div class="login__block">
    @using (Html.BeginForm("Login", "Account", FormMethod.Post, new {@class = "login__form"}))
    {
        @Html.AntiForgeryToken()
        <div >
            <label>
                <p>@Resource.ACCOUNT_LOGIN_USERNAME</p> @Html.EditorFor(x => x.UserName)</label>
        </div>
        <div>
            <label>
                <p>@Resource.ACCOUNT_LOGIN_PASSWORD</p> @Html.EditorFor(x => x.Password)</label>
        </div>
        <button type="submit" class="button__submit"> @Resource.ACCOUNT_LOGIN_SUBMITBUTTON</button>
    }
</div>