@using Resources
@model EpamNetProject.PLL.Models.EventViewModel

@{
    ViewBag.Title = "Event information";
}

<div>
    <img src="@Model.Event.ImgUrl"/>
    <p>@Resource.EVENT_EVENTDATE - @Model.Event.EventDate</p>
    <p>@Resource.EVENT_DESCRIPTION @Model.Event.Description</p>
    <p>@Resource.EVENT_AVAILABILITY - @Html.DisplayFor(x => x.Event.EventAvailability)</p>
</div>

@if (User.Identity.IsAuthenticated)
{
    <h4> @Resource.EVENT_ISMTITLE</h4>
    @Ism.ISM(Model.EventAreas, Model.EventSeats, Url.Action("Select", "Events"))
    <a href=@Url.Action("ProceedToCheckout", new {EventId = Model.Event.Id}) id="proceed-to-checkout">@Resource.EVENT_PROCEED_TO_CHECKOUT</a>
}
