@using Resources
@model IEnumerable<EpamNetProject.BLL.Models.PriceSeat>

<h1>@Resource.PAYMENT_METHOD</h1>
@using (Html.BeginForm("Buy", "Events", FormMethod.Post))
{
    <h3>@Resource.PAYMENT_SEATSTITLE</h3>
    decimal fullPrice = 0;
    foreach (var seat in Model)
    {
        <p>[@seat.Seat.Row,@seat.Seat.Number] @seat.Price</p>
        @(fullPrice += seat.Price)
    }
    <p>@Resource.PAYMENT_FULLPRICETITLE - @fullPrice</p>
    @Html.Hidden("totalAmount", fullPrice)
    ;
    <button type="submit">@Resource.PAYMENT_SUBMIT</button>
}